.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'Pixeboy';
  src: url("./assets/fonts/Pixeboy-z8XGD.ttf");
  font-weight: normal;
  font-style: normal; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0; 
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-image: url('./assets/backgrounds/space.png');
  background-size: cover; 
  background-repeat: no-repeat; 
}

.game-board {
  position: relative;
  width: 40vw;
  height: 100vh;
  background-color: black;
  margin: 0 auto;
  overflow: hidden;
  
}

.player {
  background-image: url('./assets/models/Ship_5.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
}

.enemy {
  background-color: red;
  width: 40px;
  height: 40px;
}

.bullet {
  background-color: yellow;
  width: 5px;
  height: 20px;
  position: absolute;
}

.ui {
  position: absolute;
  top: -20px;
  left: 30px;
  color: white;
  font-size: 25px;
  font-family: 'Pixeboy';
}

.lives {
  position: absolute;
  top: -20px;
  right: 30px;
  color: white;
  font-size: 25px;
  font-family: 'Pixeboy';
}

.heart {
  width: 30px; 
  height: 30px;
  background-image: url('./assets/models/heart.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
}